<%- include('../_partials/_header.ejs', {title: ''}) %>
    <div class="container">
        <h1>Blogs</h1>
        <a href="/articles/new" class="btn btn-success">New Article</a>
        <div class="row">
            <% articles.forEach(article => {%>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="card mt-4">
                        <div class="card-body">
                            <h4 class="card-title">
                                <%= article.title %>
                            </h4>
                            <div class="card-subtitle text-muted mb-2">
                                <%= article.creationDate.toLocaleDateString() %>
                            </div>
                            <div class="card-text mb-2">
                                <%- article.description %>
                            </div>
                            <a href="/articles/<%= article.slug %>" class="btn btn-sm btn-primary">Show More</a>
                        </div>
                    </div>
                </div>
            <%})%>
        </div>
    </div>

<%- include('../_partials/_footer.ejs') %>